@-webkit-keyframes anoitecer {
	0%   { background: #fff; }
	100% { background: #111417; }
}

@-moz-keyframes anoitecer {
	0%   { background: #fff; }
	100% { background: #111417; }
}

@import url(https://fonts.googleapis.com/css?family=Ubuntu);

html, body { height: 100%; }

body {
   background: #111417;
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	-webkit-animation: anoitecer 2s alternate linear;
	-moz-animation: anoitecer 2s alternate linear;
}

h1 {
    color: #8f9d6a;
    -webkit-transition: color .4s ease-out;
 }

h1:hover { color: #d6bc54; }

a {
	color: #fff;
	text-decoration: none;
	-webkit-transition: color .4s ease-out;
}

a:link { color: #8f9d6a; }

a:hover { color: #d6bc54; }

a:visited { color: #5f8492; }

a:active { color: #d6bc54; }

#dotjunior {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-filter: drop-shadow(5px 5px 15px rgba(255,255,255,0.5));
    filter: drop-shadow(5px 5px 15px rgba(255,255,255,0.5));
}

#rodape {
    position: absolute;
    color: #d6bc54;
    bottom: 1%;
    right: 1%;
}

#bluefish, #flask, #openshift {
   -webkit-filter: drop-shadow(5px 5px 15px rgba(255,255,255,0.5));
    filter: drop-shadow(5px 5px 15px rgba(255,255,255,0.5));
}