<!DOCTYPE html>
<html>
<head>
<title>Francisco C Soares | Profissional aut&ocirc;nomo</title>

<meta name="generator" content="Bluefish 2.2.10" />
<meta name="date" content="2018-09-06T22:51:40-0300" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="author" content="Francisco C Soares" />
<meta name="keywords" content="dotjunior.com, dotjunior@gmail.com, (11) 4059 3046, Consultoria, TI, Profissional, Freelancer, Autônomo" />
<meta name="description" content="Sysadmin de servidores Unix-Like" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta property="og:locale" content="pt_BR">
<meta content="{{url_for('home', _external=True)}}" property="og:url" />
<meta content='Francisco C Soares - Profissional autônomo' property='og:title' />
<meta content='Sysadmin de servidores tipo Unix-Like.' property='og:description' />
<meta content="{{url_for('static', filename='images/openshift-dotjunior.jpg', _external=True)}}" property="og:image" />
<meta content="image/jpeg" property="og:image:type" />
<meta content="800" property="og:image:width"> 
<meta content="600" property="og:image:height">

<link href="{{url_for('static', filename='images/dotjunior-favicon.png', _external=True)}}" rel="icon" type="image/png" sizes="32x32" />
</head>
<body>
<div id="principal">   
    <div id="dotjunior">
        <h1>&Aacute;rea de testes</h1>
        <a href="http://dotjunior.com/" target="_blank">
            <img class="img-responsive" src="" alt="dotjunior" />
        </a>
    </div>

    <div id="rodape">
    Feito no <a id="bluefish" href="http://bluefish.openoffice.nl/" target="_blank">Bluefish</a> com <a id="flask" href="http://flask.pocoo.org/" target="_blank">Flask (Python microframework)</a> no <a id="openshift" href="https://www.openshift.com/" target="_blank">OpenShift</a> por Francisco C Soares.
    </div>
</div>
</body>
</html>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css', _external=True)}}" />
<script src="{{url_for('static', filename='js/index.js', _external=True)}}"></script>
<!-- openshift.dotjunior.com -->