<!DOCTYPE html>
<html>
<head>
<title>Python OS env</title>
<meta name="generator" content="Bluefish 2.2.10" >
<meta name="author" content="Francisco C Soares" >
<meta name="date" content="2018-09-22T15:32:45-0300" >
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="expires" content="0">

<link href="{{url_for('static', filename='images/dotjunior-favicon.png', _external=True)}}" rel="icon" type="image/png" sizes="32x32" />
</head>
<body>

{% for param in osenv %}
    <p>{{param}} = {{osenv[param]}}</p>
{% endfor %}

</body>
</html>